/* 버튼 효과 */
/* 버튼 사이 간격 없애기 */
.btn1{
    margin-right:-5px;
}
.btn2{
    margin-left:-4px;
}
/* 버튼 배경색상과 글씨색상 바꾸기 */
.btn1{
    margin-right:-4px;
}
.btn2{
    margin-left:-3px;
}
.btn_group button{
    border: 1px solid rgb(255, 0, 0);
    background-color: rgba(0,0,0,0);
    color: rgb(255, 0, 0);
    padding: 5px;
    font-weight: bold;
}
/* 모서리 둥글게 만들기 */
.btn1{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right:-4px;
}
.btn2{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
    margin-left:-3px;
}
.btn_group button{
    border: 1px solid rgb(255, 0, 0);
    background-color: rgba(0,0,0,0);
    color: rgb(255, 0, 0);
    padding: 5px;
}
/* hover 넣어주기 */
.btn1{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right:-4px;
}
.btn2{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
    margin-left:-3px;
}
.btn_group button{
    border: 3px solid rgb(255, 0, 0);
    background-color: rgba(0,0,0,0);
    color: rgb(0, 0, 0);
    padding: 8px;
}
.btn_group button:hover{
    color:white;
    background-color: rgb(255, 0, 0);
}

/* 리스트 */
/* content */
h1.h1 {margin-bottom: 30px; font-size: 24px; font-weight: bold; text-align: center;}
.wrap {max-width: 1000px; width: 100%; border-radius: 10px; background: #fff; box-shadow: 20px 20px 60px #cecece, -20px -20px 60px #ffffff; overflow: hidden;}
.accordion-list .accordion-item {border-bottom: 1px solid #ddd;}
.accordion-list .accordion-item .item-button {display: block; position: relative; padding: 15px 5px; transition: all 0.3s;}
.accordion-list .accordion-item.active .item-button {background-color: #fff;}
.accordion-list .accordion-item .item-button::after {content: "\2207"; display: inline-block; position: absolute; top: 50%; right: 50px; transform: translateY(-50%); font-family: xeicon; font-weight: bold; color: #666; transition: all 0.3s;}
.accordion-list .accordion-item.active .item-button::after {transform: translateY(-50%) rotate(180deg);}
.accordion-list .accordion-item .accordion-name {position: relative; width: calc(100% - 50px); padding-left: 60px; font-size: 17px; font-weight: bold; line-height: 1;}
.accordion-list .accordion-item .accordion-name .icon {display: inline-block; position: absolute; top: -4px; left: 0; font-size: 24px; color: #999; transition: all 0.3s;}
.accordion-list .accordion-item.active .accordion-name .icon {color: #000;}
.accordion-list .accordion-item .accordion-desc {display: none; padding: 30px; background-color: #f9f9f9;}
.accordion-list .accordion-item .accordion-desc .desc-title {display: block; margin-left:40px; position: relative; margin-bottom: 10px; padding-left: 12px; font-size: 15px; font-weight: bold; color: #555; line-height: 1;}
.accordion-list .accordion-item .accordion-desc .desc-title::before {content: ""; display: inline-block; position: absolute; top: 4px; left:0; width: 5px; height: 5px; border-radius: 50%; background-color: #666;}
.accordion-list .accordion-item .accordion-desc .desc-title:not(:first-child) {margin-top: 25px;}
.accordion-list .accordion-item .accordion-desc .list-1st li {position: relative; padding-left: 15px; font-size: 15px; color: #666;}
.accordion-list .accordion-item .accordion-desc .list-1st li::before {display: inline-block; position: absolute; top: 4px; left: 0; font-family: xeicon; font-size: 15px; color: #666;}
.accordion-list .accordion-item .accordion-desc .list-1st li:not(:last-child) {margin-bottom: 5px;}
.accordion-list .accordion-item .accordion-desc .list-1st li .link {color: #c52754;; transition: all 0.3s;}
.accordion-list .accordion-item .accordion-desc .list-1st li .link:hover {color: #000;}
.accordion-list .accordion-item .accordion-desc .list-1st li .link i {position: relative; top: 1px;}
@media (max-width:767px) {
  .accordion-list .accordion-item .accordion-desc {padding: 20px 25px;}
}
@media (max-width:500px) {
  .accordion-list .accordion-item .item-button {padding: 20px 10px;}
}