/* 순위표 시작*/
/*body{
	font-size:12px; 
	font-family:arial; 
	text-align:center;
  } */
  
  table{
	width:800px;
	height:200px;
	border:1px solid #999; 
	margin:0 auto; 
  }
  
  td, th{
	padding:20px;
  }
  
  th{
	border:1px solid #999; 
	color:#ffffff;
	background:#a71d1a;
	text-align: center;
	font-size:18px;
	font-weight: 20px;
  }
  
  td{
	font-size:25px;
	font-weight: bold;
	border:1px solid #dedede;
  }
  
  #nav{
	margin:10px 0;
  }  
/* 순위표 끝 */