<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>baseball Main page</title>
  <link rel="stylesheet" href="css/style_index.css">

</head>
<body>
<!--상단, 제목, 캐릭터-->
<h1 class="main-title">Twin Bears</h1>
 <center>
  <img src="images/character.png" alt="character" style="width: 230px; margin-top: -128px; margin-left: 37px;">
</center>
<!-- container 1-->
<div class="container" style="margin-left: 65px; margin-top: 20px;"> 
  <span class="left_top"></span>
	<span class="right_top"></span>
	<span class="right_bottom"></span>
	<span class="left_bottom"></span>
  <h3 class="title">LG TWINS</h3>
  <div class="content">
    <a href="/twins" >
      <div class="content-overlay"></div>
      <img class="content-image" src="images/lg.png" alt="">
      <div class="content-details fadeIn-top" style="margin-top: -80px;">
        <h3>무적 LG</h3>
        <br>
        <p>-LG그룹에서 운영하는 KBO 리그의 프로야구단.
          <br><br>-연고지:서울특별시 
          <br><br> -홈구장:서울종합운동장
        </p>
      </div>
    </a>
  </div>
</div>
<!-- container 2-->
<div class="container" style=" margin-top: 20px;">
  <span class="left_top"></span>
	<span class="right_top"></span>
	<span class="right_bottom"></span>
	<span class="left_bottom"></span>
  <h3 class="title">DOOSAN BEARS</h3>
  <div class="content">
    <a href="/bears">
      <div class="content-overlay"></div>
      <img class="content-image" src="images/bear.png" alt="">
      <div class="content-details fadeIn-top" style="margin-top: -80px;">
        <h3>최강 두산</h3>
        <br>
        <p>-두산그룹에서 운영하는 KBO 리그의 프로야구단
          <br><br>-연고지:서울특별시 
          <br><br> -홈구장:서울종합운동장
        </p>
      </div>
    </a>
  </div>
</div>

</body>
</html>
