   <!-- HEADER =============================-->
   <header class="item header margin-top-0">
    <div class="wrapper">
       <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">
       <div class="container">
          <div class="navbar-header">
             <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
             <i class="fa fa-bars"></i>
             <span class="sr-only">Toggle navigation</span>
             </button>
             <a href="/bears" class="navbar-brand brand"> <span style="color: black;">DOOSAN </span><span style="color: blue;">BEARS</span></a>
          </div>
          <div id="navbar-collapse-02" class="collapse navbar-collapse">
             <ul class="nav navbar-nav navbar-right">
                <li class="propClone"><a href="/bears/info_py">선수정보</a></li>
                <li class="propClone">
                   <a href="">야구</a>
                   <div class="dropdown-content">
                      <a href="/bears/new/rule">룰</a><br>
                      <a href="/bears/new/words">용어</a><br>
                      <a href="/bears/new/cheer">응원</a><br>
                      <a href="/bears/new/book">예매</a>
                   </div>
                   </li>
                <li class="propClone"><a href="/bears/info_play">경기정보</a></li>
                <li class="propClone"><a href="/bears/cheer">응원의 한마디</a></li>
             </ul>
          </div>
       </div>
       </nav>
       <div class="container">
          <div class="row">
             <div class="col-md-12 text-center">
                <div class="text-pageheader">
                   <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.1s">
                      Baseball Rule
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    </header>